#buttonNav{
    background: none;
    border: none;
}

#buttonNav:hover{
    background: none;
}

.containerHeaderNavLateral{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #D30000;
    font-weight: bold;
}


.localButtonsNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.localButtonsNav button{
    background-color: #D30000;
    width: 100%;
    font-weight: bold;
    border: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.localButtonsNav button:hover{
    background-color: #D30000;
    width: 100%;
}
.localButtonsNav button:active{
    background-color: #D30000;
}
